.sidenav__container {
    width: 300px;
    height: 100vh;
    background-color: black;
    position: fixed;

    .sidenav__subcontainer {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 50px;


        .sidenav__list {
            margin-bottom: 25px;
            color: white;
            font-size: 2rem;
            text-decoration: none;
            padding: 10px 0;
            cursor: pointer;

            &.active {
                background-color: #57CCCb;
            }

            &:hover {
                background-color: #cae6e5;
            }
        }
    }

}